EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_YnJpZ2h0LXBhbnRoZXItOTguY2xlcmsuYWNjb3VudHMuZGV2JA

# URL du backend Go (laisser vide pour auto-détection iOS/Android)
# iOS Simulator : http://localhost:8080
# Android Emulator : http://10.0.2.2:8080
# Appareil physique : http://<IP_LAN>:8080
EXPO_PUBLIC_API_URL=

