# Copier ce fichier en .env et remplir les vraies valeurs
# Ne JAMAIS commiter le fichier .env

EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
EXPO_PUBLIC_ANTHROPIC_KEY=sk-ant-api03-...
EXPO_PUBLIC_API_URL=http://10.0.2.2:8080
EXPO_PUBLIC_KEYPAY_API_KEY=pk_sand_...
EXPO_PUBLIC_KEYPAY_API_SECRET=sk_...
